<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="demo-iron-ajax">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-input {
        padding-right: 10px;
      }
    </style>
    <style include="iron-flex iron-flex-factors"></style>
    <iron-ajax
    url="[[getMessagesURL]]"
    handle-as="json"
    last-response="{{messages}}"
    with-credentials="true"
    id="getMessages"></iron-ajax>
    <p>Innholdet under er generert ut ifra hva som ligger i sessjonsvariabelen 'polymer_demo_data'. Se api/iron-ajax_get_message.php for å se hva som returneres fra PHP skriptet. Iron-ajax objektet trigges hver gang brukeren trykker på menyvalget iron-ajax (se routing.html for hvordan.)</p>
    <p>Bruk av iron-ajax på denne måten er ideelt når en skal vise enkel informasjon fra en database.</p>
    <paper-material style="padding:10px" elevation="1">
      <template is="dom-repeat" items="{{messages}}">
        <div>{{item.name}} says {{item.message}}</div>
      </template>
    </paper-material>

    <iron-ajax
    url="[[getMessagesURL]]"
    handle-as="json"
    method="GET"
    on-response="handleResponse"
    with-credentials="true"
    id="getMessagesViaResponseMethod"></iron-ajax>
    <p><br/></p>
    <paper-button on-tap="doAjaxRequest" raised>Gjør Ajax get request</paper-button>
    <p>Resultatet vises i konsollet (se api/iron-ajax_get_message.php for å se hva som returneres fra php.)</p>
    <p><br/></p>
    <h2>Sende data via iron-ajax</h2>
    <div class="layout horizontal">
      <div class="flex-1">
        <paper-input label="Navn" value="{{name}}"></paper-input>
      </div>
      <div class="flex-2">
        <paper-input label="Beskjed" value="{{message}}"></paper-input>
      </div>
    </div>
    <paper-button style="margin-top:10px" on-tap="storeMessage" raised>Lagre beskjed i sessjonsvariabel på serveren</paper-button>
    <iron-ajax
    url="[[storeMessageURL]]"
    handle-as="json"
    method="POST"
    body='{"name":"{{name}}", "message":"{{message}}"}'
    on-response="handleResponse"
    with-credentials="true"
    id="storeMessage"></iron-ajax>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'demo-iron-ajax',

      properties: {
        getMessagesURL: String,
        storeMessageURL: String,
        messages: {
          type: Array,
          value: [],
          notify: true
        }
      },
      ready: function() {
        this.getMessagesURL = app.apiBaseURL+'api/iron-ajax_get_messages.php';
        this.storeMessageURL = app.apiBaseURL+'api/iron-ajax_post_message.php';
      },
      updateMessages: function() {
        this.$.getMessages.generateRequest();
      },
      handleResponse: function (event) {
        console.log (event.detail.response); // Legg merke til forskjellen mellom denne og jQuery utgaven
      },
      doAjaxRequest: function() {
        this.$.getMessagesViaResponseMethod.generateRequest();
      },
      storeMessage: function() {
        this.$.storeMessage.generateRequest();
      }
    });
  })();
  </script>
</dom-module>
