<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="demo-jquery-ajax">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-input {
        padding-right: 10px;
      }
    </style>
    <style include="iron-flex iron-flex-factors"></style>
    <paper-button on-tap="doAjaxRequest" raised>Gjør Ajax get request</paper-button>
    <p>Resultatet vises i konsollet (se api/jquery_get_data.php for å se hva som returneres fra php.)</p>
    <div class="layout horizontal">
      <div class="flex-1">
        <paper-input label="Navn" value="{{name}}"></paper-input>
      </div>
      <div class="flex-2">
        <paper-input label="Beskjed" value="{{message}}"></paper-input>
      </div>
    </div>
    <paper-button style="margin-top:10px" on-tap="storeMessage" raised>Lagre beskjed i sessjonsvariabel på serveren</paper-button>
    <p>Resultatet vises i konsollet (se api/jquery_store_data.php for å se hva som returneres fra php.)</p>
  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'demo-jquery-ajax',

      properties: {
        name: String,
        message: String
      },
      doAjaxRequest: function() {
        $.ajax({                          // Perform ajax call
          url: app.apiBaseURL+'api/jquery_get_data.php',
          context: this,
          method: 'GET',
          xhrFields: {                     // With cookies across domains
            withCredentials: true
          },
          success: function (event) {
            console.log (event);  // Legg merke til forskjellen mellom denne og iron-ajax utgaven
          }
        });
      },
      storeMessage: function() {
        $.ajax({                          // Perform ajax call
          url: app.apiBaseURL+'api/jquery_store_data.php',
          context: this,
          data: { name: this.name, message: this.message },
          method: 'POST',
          xhrFields: {                     // With cookies across domains
            withCredentials: true
          },
          success: function (event) {
            console.log (event);  // Legg merke til forskjellen mellom denne og iron-ajax utgaven
          }
        });
      }
    });
  })();
  </script>
</dom-module>
